<% layout('layout/boilerplate') %>
<h1>Campground <%= campground.title %> </h1>
<h2>Campground <%= campground.location %> </h2>
    <p>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <p>
        <a href="/campgrounds/<%=campground._id %>/edit">Edit Campground</a>
    </p>

<footer>

<a href="/campgrounds">All Campgrounds</a>
</footer>
