<!DOCTYPE html>

    <head>
        <title>Campground </title>
    </head>

    <body>
        <h1>Campground <%= campground.title %> </h1>
        <h2>Campground <%= campground.location %> </h2>
    </body>

</html>